.slide-up-enter-active {
    animation: slide-up .75s;
  }
@keyframes slide-up {
    from {
        opacity: 0;
        transform:translateY(140px)
    }
    to{
        opacity: 1;
        transform:translateY(0px)
    }
  }