@import url("./variables.css");
@import url("./utils.css");
@import url("./elements.css");

html {
    font-size: 16px;
    
    background: var(--light);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-size: 1rem;
    font-weight: normal;
    font-family: "Raleway", "Segoe UI", "Roboto", sans-serif;
    color: var(--dark);
}

h1,
.h1 {
    font-size: 2.5rem;
}

h2,
.h2 {
    font-size: 2.25rem;
}

h3,
.h3 {
    font-size: 2rem;
}

h4,
.h4 {
    font-size: 1.75rem;
}

h5,
.h5 {
    font-size: 1.5rem;
}

h6,
.h6 {
    font-size: 1.25rem;
}

b,
.bold {
    font-weight: bold;
}

small,
.small {
    font-size: 0.75rem;
}